[submodule "strings"]
	path = strings
	url = https://github.com/mbits-os/strings.git
[submodule "platforms/solver"]
	path = platforms/solver
	url = https://github.com/mbits-os/solver.git
[submodule "libs/libremote"]
	path = libs/libremote
	url = https://github.com/mbits-os/libremote.git
[submodule "libs/libenv"]
	path = libs/libenv
	url = https://github.com/mbits-os/libenv.git
[submodule "libs/libbase"]
	path = libs/libbase
	url = https://github.com/mbits-os/libbase.git
[submodule "libs/libweb"]
	path = libs/libweb
	url = https://github.com/mbits-os/libweb.git
[submodule "libs/libpersist"]
	path = libs/libpersist
	url = https://github.com/mbits-os/libpersist.git
