# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.xcf
*.user
*.sdf
*.suo
*.obj
*.pdb
*.orig
*.opensdf
Debug
debug
Release
release
PGO Release
pgo release
x64
tmp
int
obj
.DS_Store
.deps

*.mo
*.pyc
build
ipch
output
bin
package
httpd/libmysql.dll
# removing a file with a password from a public repo
httpd/config/connection.ini
httpd/config/smtp.ini
httpd/config/connection-*.ini
httpd/config/smtp-*.ini
httpd/logs/reedr.log
httpd/reedr.pid
httpd/data/locales/charset.db
*.lng
*.pot
client-*.js
/libenv/includes/site_strings.h
/libenv/includes/__file__.win32.hpp

Thumbs.db
