# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.xcf
*.user
*.sdf
*.suo
*.obj
*.pdb
*.orig
*.opensdf
Debug
debug
Release
release
PGO Release
pgo release
x64
tmp
int
obj
.DS_Store
.deps

/3rd/openssl/out32
/3rd/openssl/tmp32/*.obj
*.mo
*.pyc
build
ipch
output
bin
httpd/www/index.app
httpd/dbtool.exe
httpd/dbtool
httpd/libmysql.dll
# removing a file with a password from a public repo
httpd/confs/conn.ini
httpd/confs/smtp.ini
httpd/error-*.log
httpd/logs/reedr.log
httpd/reedr.pid
httpd/locales/charset/
httpd/locales/charset.db
*.lng
*.pot
client-*.js
/libenv/includes/site_strings.h

/3rd/curl/config.log
/3rd/curl/config.status
/3rd/curl/curl-config
/3rd/curl/docs/examples/Makefile
/3rd/curl/docs/libcurl/Makefile
/3rd/curl/docs/Makefile
/3rd/curl/include/curl/Makefile
/3rd/curl/include/curl/stamp-h3
/3rd/curl/include/Makefile
/3rd/curl/lib/Makefile
/3rd/curl/lib/stamp-h1
/3rd/curl/libcurl.pc
/3rd/curl/libtool
/3rd/curl/packages/AIX/Makefile
/3rd/curl/packages/AIX/RPM/curl.spec
/3rd/curl/packages/AIX/RPM/Makefile
/3rd/curl/packages/EPM/curl.list
/3rd/curl/packages/EPM/Makefile
/3rd/curl/packages/Linux/Makefile
/3rd/curl/packages/Linux/RPM/curl-ssl.spec
/3rd/curl/packages/Linux/RPM/curl.spec
/3rd/curl/packages/Linux/RPM/Makefile
/3rd/curl/packages/Makefile
/3rd/curl/packages/Solaris/Makefile
/3rd/curl/packages/vms/Makefile
/3rd/curl/packages/Win32/cygwin/Makefile
/3rd/curl/packages/Win32/Makefile
/3rd/curl/src/curl_config.h
/3rd/curl/src/Makefile
/3rd/curl/src/stamp-h2
/3rd/curl/tests/configurehelp.pm
/3rd/curl/tests/data/Makefile
/3rd/curl/tests/libtest/Makefile
/3rd/curl/tests/Makefile
/3rd/curl/tests/server/Makefile
/3rd/curl/tests/unit/Makefile
/3rd/openssl/crypto/aes/asm/aes-586.asm
/3rd/openssl/crypto/aes/asm/aes-x86_64.asm
/3rd/openssl/crypto/bf/asm/bf-586.asm
/3rd/openssl/crypto/bn/asm/bn-586.asm
/3rd/openssl/crypto/bn/asm/co-586.asm
/3rd/openssl/crypto/bn/asm/x86-mont.asm
/3rd/openssl/crypto/bn/asm/x86_64-mont.asm
/3rd/openssl/crypto/camellia/asm/cmll-x86.asm
/3rd/openssl/crypto/camellia/asm/cmll-x86_64.asm
/3rd/openssl/crypto/cast/asm/cast-586.asm
/3rd/openssl/crypto/des/asm/crypt586.asm
/3rd/openssl/crypto/des/asm/des-586.asm
/3rd/openssl/crypto/md5/asm/md5-586.asm
/3rd/openssl/crypto/md5/asm/md5-x86_64.asm
/3rd/openssl/crypto/rc4/asm/rc4-586.asm
/3rd/openssl/crypto/rc4/asm/rc4-x86_64.asm
/3rd/openssl/crypto/ripemd/asm/rmd-586.asm
/3rd/openssl/crypto/sha/asm/sha1-586.asm
/3rd/openssl/crypto/sha/asm/sha1-x86_64.asm
/3rd/openssl/crypto/sha/asm/sha256-586.asm
/3rd/openssl/crypto/sha/asm/sha512-586.asm
/3rd/openssl/crypto/sha/asm/sha512-x86_64.asm
/3rd/openssl/crypto/whrlpool/asm/wp-mmx.asm
/3rd/openssl/crypto/whrlpool/asm/wp-x86_64.asm
/3rd/openssl/crypto/x86_64cpuid.asm
/3rd/openssl/crypto/x86cpuid.asm
/3rd/openssl/ms/uptable.asm
Thumbs.db

/3rd/curl-7.30.0-devel-mingw32
