img { border: none; }

.auth-logo
{
	padding: 1em;
	background: #eee
}

.auth-logo div
{
	width: 245px;
	margin: 0px auto;
}

.auth-logo span
{
	display: block;
	margin: 0px 0px -2em 0px;
	padding: 0px;
	position: relative;
	top: -2.2em;
	left: 130px;
	width: 100%;
	color: #f8f8f8;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em
}

.auth-logo a
{
	text-decoration: none;
}

.form
{
	width: 300px;
	margin: 0px auto;
	font-family: Calibri, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color: #888;
}

.form h1
{
	font-weight: normal;
	font-family: Calibri, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color: black;
}

.form p
{
	margin: 0px;
	padding: 1em;
}

fieldset {
	width: 300px;
	margin: 0px;
	margin-bottom: 2em;
	padding: 0px;
	border: none;
}

.form ul, .form li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.form hr
{
	display: block;
	margin: 2em 0px;
	border: none
}

input[type=text], input[type=password], input[type=email]
{
	border: solid 1px #888;
	padding: 16px;
	margin: 0px 0px 1em;
	width: 268px
}

input[type=submit]
{
	padding: 16px;
	margin: .5em 0px;
	width: 300px
}

.link
{
	text-align: center;
}
.link a
{
	padding: 6px 16px;
	display: block;
	margin: 1em 0px;
	color: #008;
	background: #eef;
	text-decoration: none;
}

.link a:hover
{
	color: #1d1d1d;
	background: #c8c8c8;
	text-decoration: underline;
}

p.error, li.error label
{
	color: #c00;
}

li.error input[type=text], li.error input[type=password], li.error input[type=email]
{
	border: solid 1px #c00;
}
