h1
{
	padding: 0px;
	padding-left: 30px;
	text-indent: -30px;
}

h1:first-line
{
	font-size: 150%;
	line-height: 133%;
}

p
{
	padding: 0.5em;
}

.oops
{
	background: #ffffe1;
	border: solid 1px #bfbfaa;
	color: #000023;
}
