h1
{
	padding: 0px;
	padding-left: 30px;
	text-indent: -30px;
}

h1:first-line
{
	font-size: 150%;
	line-height: 133%;
}

#message h2
{
	font-size: 1.3em;
	margin: 0px 0px 1em;
	background: transparent;
	border: none;
	padding: 0px;
	font-style: italic;
}

#message
{
	background: #ffffe1;
	border: solid 1px #bfbfaa;
	color: #000023;
	padding: 1.3em;
	margin-bottom: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
