.form
{
	width: 450px;
	margin: 0px auto;
}

.label
{
	width: 149px;
	text-align: right;
	float: left;
	display: block;
}

.label label
{
	padding: 0px 8px;
}

.control
{
	width: 300px;
	padding: 0px;
	padding-left: 150px;
	margin: 0px 0px 1em;
}

.buttons
{
	width: 300px;
	padding-left: 150px;
}

.buttons input[type=submit]
{
	width: 64%;
	padding: 8px 16px;
}

.buttons input[type=submit].full
{
	padding: 16px;
	width: 100%;
}

.buttons input[type=submit].narrow
{
	width: 31%;
	margin-left: 3%;
}

.buttons .link
{
	padding-left: 0%;
}

.radio-group>.item
{
	padding-top: 8px;
}

.radio-group>.item+.item
{
	padding-top: 0px;
}

input[type=text], input[type=password], input[type=email], select
{
	width: 282px;
}

select
{
	width: 100%;
}

input::-webkit-input-placeholder
{
	color: white;
}

input::-moz-placeholder
{
	color: white;
}

input:-moz-placeholder
{
	color: white;
}

input:-ms-input-placeholder
{
	color: white;
}

input::input-placeholder
{
	color: white;
}
