#fragment
{
	position: relative;
}

.form
{
	font-family: Calibri, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color: #888;
	padding: 0px 1em;
}

.form h1, .form h2
{
	font-weight: normal;
	font-family: Calibri, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color: black;
}

.form h2
{
	color: #446;
	margin: 1em 0px 0.5em 0px;
	padding: 0.2em 10px 0.2em;
	border: none;
	border-left: solid 6px #eef;
	border-right: solid 3px #eef;
	background: #fafaff;
}

.label
{
	display: none;
	padding: 8px 0px;
}

.label.retain
{
	display: block;
}

.label label
{
	padding: 0px 8px;
}

.control
{
	padding: 0px;
	margin: 0px 0px 1em;
}

.radio-group
{
	margin: 0px 0px 1em;
}

.radio-group .control
{
	margin: 0px;
}

.radio-group>.label
{
	display: block;
	padding-bottom: 0px;
}

.radio-group>.item
{
	margin: 0px;
	padding: 0px;
}

.hint
{
	font-size: 80%;
}

input[type=text], input[type=password], input[type=email], select
{
	background: white;
	border: solid 1px #888;
	padding: 8px;
	width: 96%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

select
{
	width: 100%
}

input[type=submit]
{
	padding: 16px;
	margin: .5em 0px;
	width: 100%
}

input[type=submit].narrow
{
	padding: 8px 16px;
	margin: .5em 0px;
	width: 100%
}

.control a
{
	padding: 0.5em;
	display: block;
	color: #008;
	text-decoration: none;
}

.control a:hover
{
	color: #1d1d1d;
	background: #fafafa;
	text-decoration: underline;
}

.control label a
{
	padding: inherit;
	display: inline;
	color: blue;
	text-decoration: undeline;
}

.control label a:hover
{
	color: #1d1d1d;
	background: inherit;
}

.buttons
{
	padding: 1em 0px;
	margin: 1.1em 0px;
	border: none;
	border-top: solid 1px #ddf;
}

.link
{
	text-align: center;
}

.link a
{
	padding: 6px 16px;
	display: block;
	margin: 1em 0px;
	color: #008;
	background: #f8f8ff;
	text-decoration: none;
}

.link a:hover
{
	color: #1d1d1d;
	background: #f8f8f8;
	text-decoration: underline;
}

div.error p, div.error label, div.error.radio-group .label
{
	color: #c00;
}

div.error input[type=text], div.error input[type=password], div.error input[type=email], div.error select
{
	border: solid 1px #c00;
}
