body
{
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    font:normal 13px/21px sans-serif;
}

#header { padding-top: 26px; height: 120px; }

#navigation {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 248px;
    display: none;
    background: #FFF;
    overflow: auto;
}

#listing {
    min-width: 700px;
    margin-left: 248px;
    display: none;
    background: #FFF;
    overflow: auto;
}

#startup 
{
    position: fixed;
    left: 0px;
    top: 32px;
    width: 100%;
    height: 100%;
    background: url("../images/loader.gif") no-repeat 50% 33%;
}

#navigation ul
{
    padding-left: 24px;
    margin: 0px;
}

#navigation > ul
{
    padding-left: 8px;
}

.section-link
{
    padding: 8px 0px;
}

#navigation li 
{
    list-style: none outside none;
}

.nav-link
{
    text-decoration: none;
    color: black;
    background: inherit;
    width: 100%;
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-left: 5px solid white;
}

.nav-link:hover
{
    background: #EEF;
    border-left: 5px solid black;
}

.selected > .nav-link
{
    color: #C00;
    border-left: 5px solid #C00;
}

.nav-link .label
{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label + .label
{
    margin-left: 0.3em;
}

#navigation > ul > li > .nav-link
{
    margin-left: -8px;
    padding-left: 3px;
}

#navigation > ul > li > ul > li > .nav-link 
{
    margin-left: -32px;
    padding-left: 27px;
}

#navigation > ul > li > ul > li > ul > li > .nav-link 
{
    margin-left: -56px;
    padding-left: 51px;
}

#navigation > ul > li > ul > li > ul > li > ul > li > .nav-link 
{
    margin-left: -80px;
    padding-left: 75px;
}

.big-chevron-off, .big-chevron, .small-chevron-off, .small-chevron, .folder-icon, .feed-icon {
	float: left;
	position: relative;
	height: 24px;
	width: 24px;
}

.big-chevron, .small-chevron, .folder-icon, .feed-icon {
	background-image: url("/css/images/view-sprites.png");
	background-repeat: no-repeat;
}

.small-chevron, .small-chevron-off 
{
    width: 16px;
}

.section-link, .feed-folder, .feed-link
{
    line-height: 24px;
    padding-top:4px;
}

.folder-icon { 
	background-position: 0px 0px;
}

.selected > .nav-link > .folder-icon { 
	background-position: 0px -24px;
}

.feed-icon { 
	background-position: 0px -48px;
}

.selected > .nav-link > .feed-icon { 
	background-position: 0px -72px;
}

.big-chevron { 
	background-position: 0px -96px;
}

.big-chevron.closed { 
	background-position: 0px -120px;
}

.small-chevron { 
	background-position: 0px -144px;
}

.small-chevron.closed { 
	background-position: 0px -168px;
}

ul.closed
{
    display: none;
}

/**********************************************
 *
 * LISTING
 *
 **********************************************/

.feed-title a 
{
    color: black;
    text-decoration: none;
}

.loading-title
{
    float: left;
}

.loader
{
    float: left;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    margin: 0.1em 0.4em;
    background: url("../images/ajax-loader.gif") no-repeat;
}

.entry-container
{
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.entry-title
{
    margin: -1em -1em 0px;
    padding: 0.5em 1em;
    background: #eee;
}

.entry-title h2
{
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
}

.entry-title h2 a
{
    color: #444;
    text-decoration: none;
}

.author, .categories
{
    margin: 0.4em;
}

.author + .categories
{
    margin-left: -0.2em;
    border-left: 2px solid #aaa;
    padding-left: 0.2em;
}

.term
{
    color: white;
    background: #444;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.content
{
    max-width: 1000px;
}
